<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head th:replace="base :: header" />
<body>
<div th:replace="base :: navlinks" />
<div class="container">
    <div class="jumbotron">
        <h1 class="text-dark display-3 text-center title">DeLorean's Cars</h1>
        <h2 class="text-dark display-4 text-center title">Car List</h2>
        <div class="row justify-content-center">
            <div class="btn-group col-sm-3 col-md-2 col-lg-1" role="group" aria-label="Categories" th:if="${!categories.isEmpty()}">
                <a class="btn btn-info btn-md my-3" href="#" th:href="@{/}">All</a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="btn-group col-sm-3 col-md-2 col-lg-1" role="group" aria-label="Categories" th:each="category : ${categories}" th:if="${!categories.isEmpty()}">
                <a class="btn btn-info btn-md my-3" href="#" th:href="@{/pickcategory/{chosencategory} (chosencategory=${category.id})}"><span th:text="${category.title}"></span></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card-deck my-4 col-sm-12 col-md-6 col-lg-3" th:each="car : ${cars}" th:if="${!cars.isEmpty()}">
                <div class="card custom-card" style="max-width: 300px">
                    <h5 class="card-header text-center"><span th:text="${car.model}"></span> - <span th:text="${car.year}"></span></h5>
                    <img src="https://res.cloudinary.com/dtudwqsqx/image/upload/c_scale,h_300/v1570799312/BackFuturePhoto3_t1lj4z.jpg" class="card-img-top" alt="a car image">
                    <div class="card-body">
                        <h5 class="card-title text-center">US$ <span th:text="${car.mSRP}"></span></h5>
                        <a data-toggle="tooltip" title="See details" class="stretched-link" th:href="@{/detail/{id}(id=${car.id})}"></a>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-primary btn-md" href="/addcar">Add a Car</a>
        <a class="btn btn-primary btn-md" href="/secure">Secure</a>
    </div>
</div>
<div th:replace="base :: footer" />
<div th:replace="base :: scripts" />

</body>
</html>