<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head th:replace="base :: header" />
<body>
<div th:replace="base :: navlinks" />
<div class="container">
    <div class="jumbotron">
        <h1 class="text-dark display-3 text-center title">DeLorean's Cars</h1>
        <h2 class="text-dark text-center title">Secure!</h2>
    </div>
</div>
<div th:replace="base :: footer" />
<div th:replace="base :: scripts" />

</body>
</html>